.image-login{
    background-image: url("../../assets/login/image-login-sem-fundo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 600px;
}