.banner-home{
    background-image: url("../../assets/home/banner.webp");
    background-color: rgb(214, 211, 191);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 100%;
}

.titulo-produto{
    margin: 30px;
}

.paragrafo-produtos{
    margin: 10vh 30px 0px 30px;
}

.container{
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10vh;
}

