.banner-home{
    background-image: url("../../assets/home/banner.jpg");
    background-color: rgb(64, 51, 198);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 280px;
    width: 100%;
}

.titulo-produto{
    margin: 30px;
}

.paragrafo-produtos{
    margin: 10vh 30px 0px 30px;
}

.container{
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10vh;
}

